/* Loader */
.page_preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 1;
	visibility: visible;
	transition: 1s all;
	z-index: 20;
} 

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75px;
	height: 75px;
	border: 10px solid white;
	border-radius: 50%;
	border-top-color: hsl(97, 67%, 61%);
	animation: 1s spin infinite linear;
	z-index: 20;
}

.done {
	opacity: 0;
	visibility: hidden;
}

@keyframes spin {
	from {
		 transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		 transform: translate(-50%, -50%) rotate(360deg);
	}
}


/* Progress bar */
::-webkit-scrollbar {
	width: 0;
}

#scrollPath {
	position: fixed;
	top: 0;
	right: 0;
	width: 3px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.05);
	z-index: 10;
}

#progress_bar {
	position: fixed;
	top: 0;
	right: 0;
	width: 3px;
	background: linear-gradient(to top, hsl(97, 67%, 61%), hsl(97, 40%, 35%));
	z-index: 10;
}


/* Scroll up button */
.scroll_up_button {
	position: fixed;
	right: 40px;
	bottom: 40px;
	height: 30px;
	width: 30px;
	font-size: 18px;
	color: hsl(97, 67%, 61%);
	border: 2px solid hsl(97, 67%, 61%);
	border-radius: 35%;
	text-align: center;
	z-index: 10;
	transition: all 0.3s ease;
	cursor: pointer;
	opacity: 0;
}

.scroll_up_button:hover {
   background: hsl(97, 67%, 61%);
   color: #000;
}

.scroll_up_button.show {
	display: block;
	opacity: 1;
}