.skills_container {
	row-gap: 0;
}

.skills_header {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	cursor: pointer;
}

.skills_icon {
	margin-right: 12px;
}

.skills_icon,
.skills_arrow {
	font-size: 30px;
	color: hsl(97, 67%, 61%);
}

.skills_icon:hover,
.skills_arrow:hover {
	color: hsl(97, 40%, 35%);
}

.skills_title {
	font-size: 16px;
	color: hsla(0, 0%, 100%, 1)
}

.skills_title:hover {
	color: hsla(0, 0%, 100%, .4)
}

.skills_subtitle {
	font-size: 13px;
	color:hsla(0, 0%, 78%, 1);
}

.skills_subtitle:hover {
	color:hsla(0, 0%, 78%, .4);
}

.skills_arrow {
	margin-left: auto;
	transition: .3s;
}

.skills_list {
	row-gap: 14px;
	padding-left: 40px;
}

.skills_data {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.skills_name,
.skills_percentage {
	font-size: 15px;
	font-weight: 550;
	color: #fff;
}

.skills_bar {
	height: 5px;
	width: 100%;
	border: 1px solid #000;
	border-radius: 4px;
	background: hsla(0, 0%, 78%, .4);
	box-shadow: 0 2px 10px hsl(97, 67%, 61%);
	position: relative;
}

.skills_bar::before {
	content: "";
	height: 100%;
	position: absolute;
	background: hsl(97, 40%, 35%);
}

.js::before {
	width: 90%;
}

.ts::before {
	width: 80%;
}

.react::before {
	width: 85%;
}

.vue::before {
	width: 85%;
}

.django::before {
	width: 85%;
}

.css::before {
	width: 90%;
}

.sass::before {
	width: 88%;
}

.less::before {
	width: 78%;
}

.bootstrap::before {
	width: 75%;
}

.html::before {
	width: 100%;
}

.my_sql::before {
	width: 80%;
}

.pl_sql::before {
	width: 80%;
}

.postgres_sql::before {
	width: 75%;
}

.sqlite::before {
	width: 75%;
}

.adobe_photoshop::before {
	width: 85%;
}

.figma::before {
	width: 95%;
}

.fusion::before {
	width: 75%;
}

.coreldraw::before {
	width: 70%;
}

.english::before {
	width: 80%;
}

.kazakh::before {
	width: 100%;
}

.russian::before {
	width: 90%;
}

.turkish::before {
	width: 70%;
}

.chinese::before {
	width: 50%;
}

.skills_close .skills_list {
	height: 0;
	overflow: hidden;
}

.skills_open .skills_list {
	height: max-content;
	margin-bottom: 30px;
}

.skills_open .skills_arrow {
	transform: rotate(-180deg);
}

@media screen and (max-width: 375px) {
	.skills_header {
		margin-bottom: 15px;
	}
	
	.skills_icon {
		margin-right: 20px;
	}
	
	.skills_icon,
	.skills_arrow {
		font-size: 20px;
	}
	
	.skills_list {
		row-gap: 8px;
		padding-left: 45px;
	}
	
	.skills_data {
		margin-bottom: 8px;
	}
	
	.skills_name,
	.skills_percentage {
		font-size: 13px;
	}
}


@media screen and (min-width: 1024px) {
	.skills_container {
		margin: 0 10vw;
	}
}

