/* General */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	color: #fff;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.right_side {
	text-align: right;
}

/* For all sections */
.main	{
	background: url('img/background.jpeg') no-repeat center top / cover;
}

.container {
	max-width: 768px;
	margin-left: 24px;
	margin-right: 24px;
}

.section {
	padding: 64px 0;
}

.section_title {
	font-size: 35px;
	color: hsla(0, 0%, 100%, 0.85);
	text-shadow: 0 5px 5px hsla(97, 67%, 61%);
}

.section_subtitle {
	display: block;
	font-size: 12px;
	color:hsl(0, 0%, 78%);
	margin-bottom: 45px;
}

.section_title, 
.section_subtitle {
	text-align: center;
}

.grid {
	display: grid;
	gap: 24px;
}

/* button */
.button {
	display: inline-block;
	background-color: hsl(97, 67%, 61%);
	color: #fff;
	padding: 8px;
	border-radius: 8px;
	font-weight: 800;
}

.button_flex {
	align-items: center;
}

.button:hover {
	background-color: hsl(97, 40%, 35%);
}

.button_icon {
	margin-left: 8px;
	transition: 0.3s;
}


/* HEADER (navbar) */
.header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	/* transition: all 1.5s ease; */
}

.nav {
	max-width: 968px;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_logo {
	height: 32px;
}

.nav_toggle {
	font-size: 22px;
	cursor: pointer;
}

.nav_toggle:hover {
	color: hsl(97, 67%, 61%);
}

@media screen and (max-width: 767px) {
	.nav_menu {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		padding: 32px 24px 64px;
		box-shadow: 0 -10px 14px hsla(0, 0%, 100%, 0.15);
		border-radius: 24px 24px 0 0;
		transition: 0.3s;
	}
	
	.nav_list {
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;
	}
	
	.nav_link {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #000;
		font-weight: 500;
	}
	
	.nav_link:hover {
		color: hsl(97, 67%, 61%);
	}
	
	.nav_icon {
		font-size: 20px;
	}
	
	.nav_close {
		position: absolute;
		right: 25px;
		bottom: 10px;
		font-size: 25px;
		cursor: pointer;
		color: hsl(97, 67%, 61%);
	}
	
	.nav_close:hover {
		color: hsl(97, 40%, 35%);
	}
}

.show_menu {
	bottom: 0;
}


/* HOME */
.home_content {
	width: 90%;
	grid-template-columns: 1fr 2.5fr;
	padding-top: 20px;
	align-items: center;
}

.home_items {
	display: grid;
	row-gap: 15px;
}

.home_icon {
	font-size: 18px;
	color: hsl(97, 67%, 61%);
	text-shadow: 2.5px 2.5px #000;
}

.home_icon:hover {
	color: hsl(97, 40%, 35%);
}

.home_data {
	text-align: right;
}

.p1 {
	font-size: 12px;
	color: hsl(97, 67%, 61%);
	text-shadow: 1.2px 1.2px hsla(0, 0%, 100%, 0.15);
	letter-spacing: 0.25em;
}

.p1:hover {
	color: hsl(97, 40%, 35%);
}

.p2 {
	font-size: 30px;
	color: #fff;
	text-shadow: 1.5px 1.5px hsla(0, 0%, 100%, 0.15);
	margin-bottom: 10px;
	letter-spacing: 0.13em;
}

.p2:hover {
	color: hsl(0, 0%, 78%);
}

.p3 {
	color: hsl(97, 67%, 61%);
	text-shadow: 1px 1px hsla(0, 0%, 100%, 0.15);
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}

.p3:hover {
	color: hsl(97, 40%, 35%);
}

.scroll_button {
	display: flex;
	justify-content: center;
	align-items: center;	
	color: #fff;
	text-shadow: 1.8px 1.8px hsla(0, 0%, 100%, 0.15);
	transition: 0.3s;
	animation: ani 3s ease infinite;
}

.scroll_button:hover {
	transform: translateY(5px);
}

.scroll_name {
	font-size: 13px;
	font-weight: 600;
}

.scroll_arrow {
	margin: 4px;
}

@keyframes ani {
	0%, 20%, 50%, 80%, 100% {
		 transform: translateY(0);
	}
	40% {
		 transform: translateY(-10px);
	}
	60% {
		 transform: translateY(-7px);
	}
}


/* ABOUT */
.about_image {
	width: 200px;
	border-radius: 20px;
	justify-self: center;
	align-self: center;
}

.about_description {
	text-align: center;
	margin-bottom: 30px;
}

.about_info {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.about_info_title {
	font-size: 20px;
	font-weight: 800;
}

.about_info_name {
	font-size: 12px;
	font-weight: 450;
}

.about_info_title, 
.about_info_name {
	display: block;
	text-align: center;
}

.about_button {
	display: flex;
	justify-content: center;
}


/* EXPERIENCE */
.experience_container {
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}

.experience_content {
	position: relative;
	background-color: hsla(0, 0%, 45%, 0.5);
	border-radius: 5px;
	box-shadow: 0 2px 4px hsl(0, 4%, 84%);
	padding: 30px 5px 20px 25px;
	transition: 0.3s;
}

.experience_content:hover {
	box-shadow: 0 2px 4px hsl(0, 4%, 4%);
}

.experience_icon {
	display: block;
	font-size: 22px;
	color:hsl(97, 67%, 61%);
	margin-bottom: 15px;
}

.experience_title {
	font-size: 17px;
}

.experience_button {
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.borderless_button {
	font-size: 10px;
	background-color: transparent;
	color:hsl(97, 67%, 61%);
}

.borderless_button:hover {
	font-size: 10px;
	background-color: transparent;
	color: hsl(97, 40%, 35%);
}

.experience_button:hover .button_icon {
	transform: translateY(5px);
}

.experience_item {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: hsla(0, 0%, 0%, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.item_active {
	opacity: 100%;
	visibility: visible;
}
	
.experience_data {
	position: relative;
	background-color: hsl(0, 1%, 14%);
	padding: 20px;
	border-radius: 10px;
}

.experience_header {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.experience_title {
	font-size: 25px;
	font-weight: 800;
}

.experience_period {
	font-size: 8px;
	color:hsl(0, 0%, 78%);
	margin-bottom: 10px;
}

.company {
	display: flex;
	justify-content: center;
}

.company_title {
	font-size: 12px;
	margin-right: 10px;
}

.company_logo {
	height: 30px;
}

.experience_close {
	position: absolute;
	top: 20px;
	right: 20px;
	color:hsl(0, 0%, 78%);
	cursor: pointer;
}

.responsibility_list {
	display: grid;
	row-gap: 10px;
}

.responsibility {
	display: flex;
	font-size: 13px;
}

.responsibility_icon {
	color:hsl(0, 0%, 78%);
	margin: 5px 5px 0 0;
}


/* QUALIFICATION */
.qualification_header {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

.qualification_button {
	font-size: 17px;
	font-weight: 700;
	cursor: pointer;
}

.qualification_button:hover {
	color: hsl(97, 67%, 61%)
}

.qualification_button.qualification_active {
	color:hsl(97, 67%, 61%);
}

.qualification_icon {
	font-size: 20px;
	margin-right: 5px;
}

.qualification_item {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	column-gap: 25px;
}

.qualification_title {
	font-size: 15px;
	font-weight: 650;
	color: #fff;
}

.qualification_subtitle {
	display: inline-block;
	font-size: 10px;
	margin-bottom: 6px;
}

.qualification_period {
	font-size: 8px;
	color:hsl(0, 0%, 78%);
}

.qualification_rounder {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color:hsl(97, 67%, 61%);
	border-radius: 50%;
}

.qualification_line {
	display: block;
	width: 1px;
	height: 100%;
	background-color:hsl(97, 67%, 61%);
	transform: translate(6px, -7px);
}

.qualification_show {
	display: block;
}

.qualification_hide {
	display: none;
}


/* SKILLS */
.skills_container {
	row-gap: 0;
}

.skills_header {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	cursor: pointer;
}

.skills_icon {
	margin-right: 12px;
}

.skills_icon,
.skills_arrow {
	font-size: 30px;
	color: hsl(97, 67%, 61%);
}

.skills_icon:hover,
.skills_arrow:hover {
	color: hsl(97, 40%, 35%);
}

.skills_title {
	font-size: 16px;
	color: hsla(0, 0%, 100%, 1)
}

.skills_title:hover {
	color: hsla(0, 0%, 100%, 0.4)
}

.skills_subtitle {
	font-size: 13px;
	color:hsla(0, 0%, 78%, 1);
}

.skills_subtitle:hover {
	color:hsla(0, 0%, 78%, 0.4);
}

.skills_arrow {
	margin-left: auto;
	transition: 0.3s;
}

.skills_list {
	row-gap: 14px;
	padding-left: 40px;
}

.skills_data {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.skills_name,
.skills_percentage {
	font-size: 15px;
	font-weight: 550;
	color: #fff;
}

.skills_bar {
	height: 5px;
	width: 100%;
	border: 1px solid #000;
	border-radius: 4px;
	background: hsla(0, 0%, 78%, 0.4);
	box-shadow: 0 2px 10px hsl(97, 67%, 61%);
	position: relative;
}

.skills_bar::before {
	content: "";
	height: 100%;
	position: absolute;
	background: hsl(97, 40%, 35%);
}

.html::before {
	width: 100%;
}

.css::before {
	width: 90%;
}

.js::before {
	width: 70%;
}

.less_sass::before {
	width: 80%;
}

.bootstrap::before {
	width: 75%;
}

.react::before {
	width: 65%;
}

.premiere_pro::before {
	width: 85%;
}

.after_effects::before {
	width: 70%;
}

.imovie::before {
	width: 80%;
}

.vn::before {
	width: 100%;
}

.adobe_photoshop::before {
	width: 95%;
}

.figma::before {
	width: 85%;
}

.fusion::before {
	width: 75%;
}

.coreldraw::before {
	width: 70%;
}

.english::before {
	width: 80%;
}

.kazakh::before {
	width: 100%;
}

.russian::before {
	width: 90%;
}

.turkish::before {
	width: 70%;
}

.chinese::before {
	width: 50%;
}

.skills_close .skills_list {
	height: 0;
	overflow: hidden;
}

.skills_open .skills_list {
	height: max-content;
	margin-bottom: 30px;
}

.skills_open .skills_arrow {
	transform: rotate(-180deg);
}


/* PROJECTS */
.projects_content_container {
	overflow: initial;
}

.projects_content {
	text-align: center;
	padding: 0 25px;
}

.project_image {
	width: 300px;
	height: 205px;
	border-radius: 15px;
	justify-self: center;
	border: 0.5px solid #fff;
}

.projects_content:hover .project_image {
	border-color: hsl(97, 67%, 61%);
}

.project_title {
	font-size: 23px;
}

.project_instruments {
	font-size: 10px;
	color:hsl(0, 0%, 78%);
	margin-bottom: 12px;
}

.project_description {
	font-size: 14px;
	margin-bottom: 25px;	
}

.project_button:hover .button_icon {
	transform: translateX(5px);
}


/* RECOMENDATION */
.stars {
	text-align: center;
	margin-bottom: 10px;
	color: hsl(97, 67%, 61%);
	text-shadow: 0.8px 0.8px hsla(0, 0%, 100%, 0.8)
}

.recomendation_data {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 2px #fff solid;
	box-shadow: 0 -4px 10px hsl(0, 0%, 78%);;
}

.recomendation_icon {
	font-size: 40px;
	color: hsl(97, 67%, 61%);
}

.recomendation_icon:hover{
	color: hsl(97, 40%, 35%);
}

.recomendation_line {
	border-left:#fff 3px solid;
	height: 60px;
}

.recomendation_name {
	color: #fff;
}

.recomendation_name:hover {
	color: hsl(0, 0%, 78%);
}

.recomendation_place {
	font-size: 10px;
	color: hsl(100, 3%, 64%);
}

.recomendation_place:hover {
	color: hsl(90, 1%, 37%);
}


/* CONTACTS */
.contacts_container {
	row-gap: 13px;
}

.contact_info {
	display: flex;
	margin-bottom: 20px;
}

.contact_icon {
	font-size: 25px;
	color:hsl(97, 67%, 61%);
	margin: 10px 15px 0 0;
}

.contact_title {
	font-size: 16px;
}

.contact_subtitle {
	font-size: 11px;
	color:hsl(0, 0%, 78%);
}

.contact_content {
	background-color:hsla(97, 40%, 35%, 0.3);
	border-radius: 10px;
	padding: 10px 15px;
}

label {
	font-size: 16px;
	font-weight: 600;
}

.contact_input {
	width: 100%;
	font-size: 11px;
	color:hsl(0, 0%, 78%);
	background-color:hsla(97, 40%, 35%, 0.3);
	border: none;
	padding: 7px 0  7px 15px;
}


/* FOOTER */
.footer {
	padding: 30px 0;
	background-color: #2d3e50;
}

.footer_container {
	row-gap: 30px;
}

.footer_subtitle {
	font-size: 18px;
	color:hsla(0, 0%, 78%, 0.5);
}

.footer_list {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.footer_socials {
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}

.footer_social {
	font-size: 20px;
	margin: 0 20px;
}

.footer_title,
.footer_link,
.footer_social {
	color:#fff;
}

.footer_title:hover,
.footer_link:hover,
.footer_social:hover {
	color:hsl(97, 40%, 35%);
}

.footer_copy {
	text-align: center;
	font-size: 10px;
	color:hsla(0, 0%, 100%, 0.75);
}