/* variables */
:root {
	--header-height: 3rem;

	/* colors */
	--hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
	/* HSL color mode */
	--first-color: hsl(var(--hue-color), 69%, 61%);
	--first-color-second: hsl(var(--hue-color), 69%, 61%);
	--first-color-alt: hsl(var(--hue-color), 57%, 53%);
	--first-color-lighter: hsl(var(--hue-color), 92%, 85%);
	--title-color: hsl(var(--hue-color), 8%, 15%);
	--text-color: hsl(var(--hue-color), 8%, 45%);
	--text-color-light: hsl(var(--hue-color), 8%, 65%);
	--input-color: hsl(var(--hue-color), 70%, 96%);
	--body-color: hsl(var(--hue-color), 60%, 99%);
	--scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
	--scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

	/* font */
	--body-font: 'Poppins', sans-serif;
	
	/* font-weight */
	--font-medium: 500;
	--font-semi-bold: 600;
	
	/* 1rem = 16px */
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	/* margenes-bottom */
	--mb-0-25: .25rem;
	--mb-0-5: .5rem;
	--mb-0-75: .75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/* General */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	color: #fff;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* For all sections */
.main	{
	background: url('./img/background.jpeg') no-repeat center top / cover;
}

.container {
	max-width: 768px;
	margin-left: 24px;
	margin-right: 24px;
}

.section {
	padding: 32px 0 64px;
}

.section_title {
	font-size: 30px;
	color: rgb(197, 190, 190);
}

.section_subtitle {
	display: block;
	font-size: 12px;
	color: rgb(142, 126, 126);
	margin-bottom: var(--mb-3);
}

.section_title, 
.section_subtitle {
	text-align: center;
}

.grid {
	display: grid;
	gap: 24px;
}

/* button */
.button {
	display: inline-block;
	background-color: hsl(97, 67%, 61%);
	color: #fff;
	padding: 8px;
	border-radius: 8px;
	font-weight: 800;
}

.button_flex {
	align-items: center;
}

.button:hover {
	background-color: hsl(97, 47%, 43%);
}

.button_icon {
	font-size: 19px;
	text-shadow: 1px 1px rgb(216, 213, 213);
	margin-left: 8px;
	transition: 0.3s;
}
 
/* header (navbar) */
.header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-fixed);
}

.nav {
	max-width: 968px;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_logo {
	height: 32px;
}

.nav_toggle {
	font-size: 22px;
	cursor: pointer;
}

.nav_toggle:hover {
	color: hsl(97, 67%, 61%);
}

@media screen and (max-width: 767px) {
	.nav_menu {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		padding: 32px 24px 64px;
		box-shadow: 0 -10px 14px rgba(255, 255, 255, 0.15);
		border-radius: 24px 24px 0 0;
		transition: .3s;
	}
	
	.nav_list {
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;
	}
	
	.nav_link {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #000;
		font-weight: 500;
	}
	
	.nav_link:hover {
		color: hsl(97, 67%, 61%);
	}
	
	.nav_icon {
		font-size: 20px;
	}
	
	.nav_close {
		position: absolute;
		right: 25px;
		bottom: 10px;
		font-size: 25px;
		cursor: pointer;
		color: hsl(97, 67%, 61%);
	}
	
	.nav_close:hover {
		color: hsl(97, 47%, 43%);
	}
}

.show_menu {
	bottom: 0;
}

/* home */
.home_content {
	width: 90%;
	grid-template-columns: 1fr 2.5fr;
	padding-top: 20px;
	align-items: center;
}

.home_contact {
	display: grid;
	grid-template-columns: max-content;
	row-gap: 15px;
}

.home_icon {
	font-size: 18px;
	color: hsl(97, 67%, 61%);
	text-shadow: 2.5px 2.5px #000;
}

.home_icon:hover {
	color: hsl(97, 47%, 43%);
}

.home_data {
	text-align: right;
}

.p1 {
	font-size: 12px;
	color: hsl(97, 67%, 61%);
	text-shadow: 1px 1px rgb(36, 35, 35);
	letter-spacing: 0.25em;
}

.p1:hover {
	color: hsl(97, 47%, 43%);
}

.p2 {
	font-size: 30px;
	color: hsl(0, 0%, 100%);
	text-shadow: 1.5px 1.5px rgb(36, 35, 35);
	margin-bottom: 10px;
	letter-spacing: 0.13em;
}

.p2:hover {
	color: hsl(45, 3%, 71%);
}

.p3 {
	color: hsl(97, 67%, 61%);
	text-shadow: 1px 1px rgb(36, 35, 35);
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}

.p3:hover {
	color: hsl(97, 47%, 43%);
}

.scroll_button {
	display: flex;
	justify-content: center;
	align-items: center;	
	color: #fff;
	text-shadow: 1.5px 1.5px rgb(36, 35, 35);
	transition: 0.3s;
}

.scroll_button:hover {
	transform: translateY(0.25rem);
}

.scroll_name {
	font-size: 13px;
	font-weight: 600;
}

.scroll_arrow {
	margin: 4px;
}

/* about */
.about_image {
	width: 200px;
	border-radius: 20px;
	justify-self: center;
	align-self: center;
}

.about_description {
	text-align: center;
	margin-bottom: 40px;
}

.about_info {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.about_info_title {
	font-size: 20px;
	font-weight: 800;
}

.about_info_name {
	font-size: 12px;
	font-weight: 450;
}

.about_info_title, 
.about_info_name {
	display: block;
	text-align: center;
}

.about_button {
	display: flex;
	justify-content: center;
}