@mixin hide
	visibility: hidden
	opacity: 0
	transition: all .2s ease-in-out
@mixin show
	visibility: visible !important
	opacity: 1 !important
@mixin center
	left: 50%
	transform: translateX(-50%)
@mixin horizontal
	display: flex
@mixin vertical
	@include horizontal
	flex-direction: column
@mixin aic
	@include horizontal
	align-items: center
@mixin image-center
	align-self: center
	justify-self: center
