$font: "Poppins", sans-serif
$white: #FFF
$black: #000
$gray: hsla(0, 0%, 78%, 1)
$gray-background: hsla(0, 0%, 78%, .4)
$gray-dark: #313030
$accent: #8CDE59
$accent-active: #517D36
$shadow: 0px 4px 19px 0px rgba(0, 0, 0, .15)
$shadow-color: hsla(0, 0%, 100%, .15)
