#about
	.section-content
		display: grid
		align-items: center
		padding-top: 45px
		grid-template-columns: repeat(2, 1fr)
		gap: 24px
		.image
			width: 240px
			border-radius: 20px
			justify-self: center
			align-self: center
		.info
			gap: 36px