#contacts
    .contact
        margin-bottom: 36px
        .icon
            margin: 10px 15px 0 0
            font-size: 25px
            color: $accent
        .subtitle
            margin-top: 8px
            font-size: 11px
            color: $gray
    .form
        gap: 24px
        width: 44%
        .input,
        .textarea
            padding: 10px 15px
            border-radius: 10px
            background-color: hsla(97, 40%, 35%, .3)
