#contacts
    .contact
        margin-bottom: 36px
        .icon
            margin: 10px 15px 0 0
            font-size: 25px
            color: $accent
        .subtitle
            margin-top: 8px
            font-size: 11px
            color: $gray
    .form
        gap: 24px
        width: 44%
        &-line
            padding: 10px 15px
            border-radius: 10px
            background-color: hsla(97, 40%, 35%, .3)
            .label
                margin-bottom: 4px
                font-weight: 600
                font-size: 14px
            .input,
            .textarea
                height: 40px
                padding: 8px 16px
                border-radius: 6px
                font-size: 13px
                background-color: hsla(97, 40%, 35%, .3)
                color: hsl(0, 0%, 78%)
                &::placeholder
                    color: hsl(0, 0%, 78%)
            .input
                height: 40px
            .textarea
                height: max-content
