.experience
    @include jcsb
    .card .button
        position: absolute
        bottom: 20px
        @include center
        &-text,
        .icon
            color: $accent
        &:hover .icon
            transform: translateY(5px)
