.experience
    @include jcsb
    .card .button
        position: absolute
        bottom: 20px
        @include center
        &-text,
        .icon
            color: $accent
        &:hover .icon
            transform: translateY(5px)

@media only screen and (max-width : 480px)
    .experience
        align-items: center
        gap: 12px
        .card .button
            position: static
            transform: none
