.skills
    flex-wrap: wrap
    gap: 42px 24px
    &-box
        width: calc(50% - 21px)
        &.active .skills-box
            &__header .icon:last-child
                transform: rotate(-180deg)
            &__list
                @include show
                height: max-content
        &__header
            margin-bottom: 24px
            // margin-bottom: 25px
            .icon
                font-size: 24px
                // font-size: 30px
                color: $accent
                &:hover
                    color: $accent-active
                &:first-child
                    margin-right: 16px
                &:last-child
                    margin-left: auto
            .subtitle
                margin-top: 4px
                color: $gray
        &__list
            gap: 12px
            @include hide
            padding-left: 44px
            height: 0
            .skill
                &-data
                    margin-bottom: 6px
                    .name
                        text-decoration: underline
                    .percentage
                        font-size: 14px
                &-bar
                    position: relative
                    width: 100%
                    height: 5px
                    border: 1px solid $black
                    border-radius: 4px
                    box-shadow: 0 2px 10px $accent
                    background-color: hsla(0, 0%, 78%, .4)
                    &::before
                        content: ""
                        position: absolute
                        height: 100%
                        background-color: $accent-active
                .js::before
                    width: 96%
                .ts::before
                    width: 88%
                .react::before
                    width: 92%
                .vue::before
                    width: 98%
                .django::before
                    width: 84%
                .css::before
                    width: 100%
                .sass::before
                    width: 100%
                .less::before
                    width: 85%
                .bootstrap::before
                    width: 77%
                .html::before
                    width: 100%
                .my_sql::before
                    width: 80%
                .pl_sql::before
                    width: 80%
                .postgres_sql::before
                    width: 89%
                .sqlite::before
                    width: 77%
                .adobe_photoshop::before
                    width: 88%
                .figma::before
                    width: 95%
                .fusion::before
                    width: 76%
                .coreldraw::before
                    width: 76%
                .english::before
                    width: 80%
                .kazakh::before
                    width: 100%
                .russian::before
                    width: 90%
                .turkish::before
                    width: 70%
                .chinese::before
                    width: 50%
