.about_description {
	text-align: center;
	margin-bottom: 30px;
}

.about_info {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.about_info_title {
	font-size: 20px;
	font-weight: 800;
}

.about_info_name {
	font-size: 12px;
	font-weight: 450;
}

.about_info_title, 
.about_info_name {
	display: block;
	text-align: center;
}

.about_button {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 375px) {
	.about_description {
		font-size: 13px;
		margin-bottom: 15px;
	}

	.about_info {
		margin-bottom: 30px;
	}
	
	.about_info_title {
		font-size: 18px;
	}
	
	.about_info_name {
		font-size: 11px;
	}
}

@media screen and (min-width: 568px) {
	.about_description {
		margin-bottom: 15px;
	}
	
	.about_info {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 768px) {
	.about_container {
		column-gap: 10px
	}

	.about_description {
		text-align: initial;
	}

	.about_info {
		justify-content: space-between;
	}

	.about_button {
		justify-content: initial;
	}

	.about_info_title {
		font-size: 25px;
	}
	
	.about_info_name {
		font-size: 15px;
	}
}

@media screen and (min-width: 1024px) {
	.about_container {
		align-items: center;
	}

	.about_content {
		margin-right: 4vw;
	}

	.about_description {
		font-size: 1.33vw;
	}

	.about_info_title {
		font-size: 3vw;
	}

	.about_info_name {
		font-size: 1vw;
		margin-bottom: 2vw;
	}
}
