.contacts_container {
	row-gap: 13px;
}

@media screen and (max-width: 375px) {
	.contact_info {
		margin-bottom: 8px;
	}
}

@media screen and (min-width: 1024px) {
	.contacts_container {
		width: 80%;
	}
}
