.contacts_container {
	row-gap: 13px;
}

.contact_info {
	display: flex;
	margin-bottom: 20px;
}

.contact_icon {
	font-size: 25px;
	color:hsl(97, 67%, 61%);
	margin: 10px 15px 0 0;
}

.contact_title {
	font-size: 16px;
	color:hsl(0, 0%, 78%);
}

.contact_subtitle {
	font-size: 11px;
	color:hsl(0, 0%, 78%);
}

.contact_content {
	background-color:hsla(97, 40%, 35%, .3);
	border-radius: 10px;
	padding: 10px 15px;
}

label {
	font-size: 16px;
	font-weight: 600;
}

.contact_input {
	width: 100%;
	font-size: 11px;
	color:hsl(0, 0%, 78%);
	background-color:hsla(97, 40%, 35%, .3);
	border: none;
	padding: 7px 0  7px 15px;
}

@media screen and (max-width: 375px) {
	.contact_info {
		margin-bottom: 8px;
	}
}

@media screen and (min-width: 1024px) {
	.contacts_container {
		width: 80%;
	}
}
