.header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 12;
}

.nav {
	max-width: 986px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_logo {
	height: 32px;
}

.nav_buttons {
	display: flex;
	align-items: center;
}

.nav_toggle {
	font-size: 22px;
	cursor: pointer;
}

.nav_toggle:hover {
	color: hsl(97, 67%, 61%);
}

@media screen and (max-width: 767px) {
	.nav_menu {
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: #FFF;
		padding: 32px 24px 64px;
		box-shadow: 0 -10px 14px hsla(0, 0%, 100%, .15);
		border-radius: 24px 24px 0 0;
		transition: .3s;
	}
}

.nav_list {
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.nav_link {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #000;
	font-size: 13px;
	font-weight: 500;
}

.nav_link:hover {
	color: hsl(97, 67%, 61%);
}

.nav_icon {
	font-size: 20px;
}

.nav_close {
	position: absolute;
	right: 25px;
	bottom: 10px;
	font-size: 25px;
	cursor: pointer;
	color: hsl(97, 67%, 61%);
}

.nav_close:hover {
	color: hsl(97, 40%, 35%);
}

.show_menu {
	bottom: 0;
}

@media screen and (max-width: 375px) {
	.nav_menu {
		padding: 32px 4px 50px;
	}

	.nav_list {
		column-gap: 0;
	}
}

@media screen and (min-width: 768px) {
	.header {
		top: 0;
		bottom: initial;
		background-color: #FFF;
	}
	
	.nav {
		column-gap: 25px;
	}
	
	.nav_toggle,
	.nav_close,
	.nav_icon {
		display: none !important;
	}

	.nav_list {
		display: flex;
		column-gap: 30px;
	}

	.nav_link {
		font-size: 11px;
		color:hsla(0, 1%, 14%, 1)
	}

	.nav_link:hover {
		color:hsla(0, 1%, 14%, .6)
	}
}

@media screen and (min-width: 1024px) {
	.nav_link {
		font-size: 1.2vw;
		padding: 1.2vw 0;
	}
}
