.home_content {
	padding-top: 20px;
}

.home_items {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 40px;
}

.home_icon {
	font-size: 23px;
}

.home_data {
	height: 350px;
	text-align: center;
}

.p1 {
	font-size: 14px;
	letter-spacing: .25em;
	margin-bottom: 20px;
}

.p2 {
	font-size: 40px;
	margin-bottom: 30px;
	letter-spacing: .13em;
}

.p3 {
	font-size: 20px;
	text-shadow: 1px 1px hsla(0, 0%, 100%, .15);
	margin-bottom: 20px;
	letter-spacing: .1em;
}

@media screen and (max-width: 375px) {
	.scroll_button {
		display: none;
	}
}

@media screen and (min-width: 568px) {
	.home_content {
		width: 90%;
		display: grid;
		grid-template-columns: 1fr 2.5fr;
		padding-top: 30px;
	}

	.home_items {
		display: grid;
		row-gap: 25px;
	}

	.home_data {
		text-align: right;
		height: 300px;
	}

	.scroll_button {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.scroll_button {
		display: flex;
		justify-content: center;
		align-items: center;	
	}
}

@media screen and (min-width: 1024px) {
	.home_content {
		height: 600px;
		align-items: center;
	}

	.home_icon {
		font-size: 3vw;
	}
	
	.p1 {
		font-size: 1.8vw;
		letter-spacing: .5em;
		margin-bottom: .5vw;
	}

	.p2 {
		font-size: 4.5vw;
		margin-bottom: 2vw;
	}
	
	.p3 {
		font-size: 3vw;
		margin-bottom: 4vw;
		letter-spacing: .3em;
	}

	.scroll_name {
		font-size: 1.5vw;
	}
}
