@media screen and (max-width: 375px) {
	.qualification_header {
		margin-bottom: 15px;
	}
	
	.qualification_button {
		font-size: 15px;
	}
	
	.qualification_icon {
		font-size: 17px;
	}
	
	.qualification_title {
		font-size: 13px;
	}
	
	.qualification_subtitle {
		font-size: 10px;
	}
	
	.qualification_period {
		font-size: 8px;
	}
}

@media screen and (min-width: 568px) {
	.qualification {
		display: grid;
		grid-template-columns: .8fr;
		justify-content: center;
	}

	.qualification_button {
		font-size: 20px;
	}
	
	.qualification_icon {
		font-size: 23px;
	}
	
	.qualification_title {
		font-size: 16px;
		margin-bottom: 8px;
	}
	.qualification_subtitle {
		font-size: 11px;
	}
}

@media screen and (min-width: 768px) {
	.qualification_title {
		font-size: 17px;
	}
	.qualification_subtitle {
		font-size: 12.5px;
		margin-bottom: 6px;
	}
	.qualification_period {
		font-size: 10px;
	}
}
