.stars {
	text-align: center;
	margin-bottom: 10px;
	color: hsl(97, 67%, 61%);
	text-shadow: .8px .8px hsla(0, 0%, 100%, .8)
}

.recomendation_data {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 2px solid #fff;
	box-shadow: 0 -4px 10px hsl(0, 0%, 78%);
	margin-bottom: 20px;
}

.recomendation_icon {
	font-size: 40px;
	color: hsl(97, 67%, 61%);
}

.recomendation_icon:hover{
	color: hsl(97, 40%, 35%);
}

.recomendation_line {
	border-left: 3px solid #fff;
	height: 60px;
}

.recomendation_name {
	color: #FFF;
}

.recomendation_name:hover {
	color: hsl(0, 0%, 78%);
}

.recomendation_place {
	font-size: 10px;
	color: hsl(100, 3%, 64%);
}

.recomendation_place:hover {
	color: hsl(90, 1%, 37%);
}

@media screen and (min-width: 1024px) {
	.recomendation_container {
		width: 80%;
	}

	.stars { 
		font-size: 1.5vw;
		margin-bottom: 1.5vw;
	}

	.recomendation_name {
		margin-top: 1.5vw;
	}
}
