@media screen and (max-width: 375px) {
	.skills_header {
		margin-bottom: 15px;
	}
	
	.skills_icon {
		margin-right: 20px;
	}
	
	.skills_icon,
	.skills_arrow {
		font-size: 20px;
	}
	
	.skills_list {
		row-gap: 8px;
		padding-left: 45px;
	}
	
	.skills_data {
		margin-bottom: 8px;
	}
	
	.skills_name,
	.skills_percentage {
		font-size: 13px;
	}
}
